.clearfix:before {
  content: " ";
  display: table; }

.clearfix:after {
  content: " ";
  display: table;
  clear: both; }

body p, span {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  color: #444444; }

a {
  color: #0aaed3; }

button {
  cursor: pointer; }

input {
  border: 2px solid #0aaed3;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  font-size: 20px; }

label {
  display: inline-block;
  cursor: pointer;
  position: relative; }

.checkbox:not(checked) {
  position: absolute;
  opacity: 0; }

.checkbox:not(checked) + label {
  position: relative;
  padding: 0 0 0 30px; }

.checkbox:not(checked) + label:before {
  content: '';
  position: absolute;
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
  background-position: -464px -100px;
  left: 0; }

.checkbox:checked + label:before {
  content: '';
  position: absolute;
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
  background-position: -5px -5px;
  left: 0; }

label {
  margin-top: 15px;
  font-size: 18px;
  color: #444444; }

.header {
  width: 100%;
  height: 88px;
  top: 0px; }

.sub-width {
  width: 1163px;
  margin: auto;
  height: 100%; }

.header-logo {
  margin-top: 25px;
  background: url("../img/logo.png") no-repeat;
  height: 40px;
  width: 384px;
  float: left; }

.header-right-block {
  margin-top: 31px;
  width: 454px;
  float: right; }

.header-number {
  float: left; }
  .header-number i, .header-number span {
    float: left; }

.header-menu {
  float: right; }
  .header-menu i, .header-menu span {
    float: left; }

.header-number span, .header-menu span {
  font: 26px 'PT Sans' #444444;
  font-family: 'PT Sans', sans-serif;
  font-size: 26px;
  line-height: 26px;
  color: #444444; }

.header-number i, .header-menu i {
  margin-right: 6px; }

.slider-background {
  height: 628px; }

.slider-backrgound-right-block {
  z-index: -1;
  height: 100%;
  width: 50%;
  float: right;
  background: url(../img/video.png) no-repeat; }

.slider-backrgound-left-block {
  height: 100%;
  width: 50%;
  float: left;
  background: url(../img/slider-left.png) no-repeat; }

.slider {
  height: 628px;
  margin-top: -628px;
  position: relative; }

.slider-right-block {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 584px;
  max-width: 584px;
  float: right;
  margin-left: 584px; }

.slider-left-block {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 584px;
  max-width: 584px;
  float: left;
  margin-bottom: 25px;
  display: block; }

.slider-left-block-header {
  display: block;
  margin-top: 90px;
  margin-bottom: 38px;
  font-size: 39px;
  font-family: 'PT Sans', sans-serif;
  color: #fff;
  font-weight: bold; }

.slider-left-block-list {
  padding: 0px; }
  .slider-left-block-list li {
    display: inline-block;
    width: 288px;
    margin-bottom: 20px;
    word-wrap: break-word; }
    .slider-left-block-list li span {
      display: block;
      margin-top: 20px;
      width: 160px;
      float: left;
      font-size: 16px;
      font-family: 'PT Sans', sans-serif;
      color: #fff;
      word-wrap: break-word;
      font-weight: bold; }

.slider-left-block-list-i {
  float: left;
  margin-right: 14px; }

.slider-left-block-select-apartment {
  float: left;
  display: block;
  background: #fff;
  border: 2px solid #fff;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  width: 248px;
  height: 64px;
  margin-right: 20px;
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
  color: #20a9c7;
  font-weight: bold; }

.slider-left-block-task-question {
  float: left;
  display: block;
  background: transparent;
  border: 2px solid #fff;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  width: 248px;
  height: 64px;
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
  color: #fff;
  font-weight: bold; }

.slider-right-block-header {
  display: block;
  margin: auto;
  margin-top: 190px;
  margin-bottom: 38px;
  font-size: 44px;
  width: 360px;
  font-family: 'PT Sans', sans-serif;
  color: #fff;
  font-weight: bold; }

.slider-right-block i {
  margin: auto; }

.features {
  height: 586px;
  width: 100%;
  background: url(../img/advantages.png) no-repeat; }

.features-list {
  margin-top: 83px;
  padding: 0px 40px;
  padding-right: 0px; }
  .features-list li {
    display: inline-block;
    width: 370px;
    margin-bottom: 60px; }
    .features-list li span {
      margin-top: 30px;
      float: left;
      font-size: 20px;
      font-family: 'PT Sans', sans-serif;
      color: #676767;
      width: 175px; }
      .features-list li span p {
        margin-top: 4px; }
    .features-list li i {
      float: left;
      margin-right: 23px; }

.features-buttons {
  margin: auto;
  width: 680px; }

.features-buttons-select-apartment {
  float: left;
  display: block;
  background: #0aaed3;
  border: 2px solid #0aaed3;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  width: 320px;
  height: 64px;
  margin-right: 20px;
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
  color: #fff;
  font-weight: bold; }

.features-buttons-task-question {
  float: left;
  display: block;
  background: transparent;
  border: 2px solid #0aaed3;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  width: 320px;
  height: 64px;
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
  color: #0aaed3;
  font-weight: bold; }

.new-apartment-backrgound {
  height: 718px;
  width: 100%; }

.new-apartment-backrgound-left-block {
  float: left;
  height: 100%;
  width: 40%;
  background: url(../img/new-apartment-slider.png) no-repeat; }

.new-apartment-backrgound-right-block {
  float: right;
  height: 100%;
  width: 60%;
  background-color: #fff; }

.new-apartment {
  position: relative;
  height: 718px;
  margin-top: -718px; }

.new-apartment-left-block {
  position: absolute;
  width: 384px;
  float: left; }

.new-apartment-right-block {
  position: absolute;
  float: right;
  margin-left: 420px;
  padding-left: 40px;
  padding-top: 66px;
  width: 742px;
  padding-right: 50px; }

.new-apartment-right-block-header {
  font-size: 42px;
  font-family: 'PT Sans', sans-serif;
  color: #0aaed3;
  font-weight: bold;
  display: block; }

.new-apartment-right-block-text {
  font-size: 20px;
  font-family: 'PT Sans', sans-serif;
  color: #696969; }
  .new-apartment-right-block-text p {
    margin: 30px 0; }

.p-min {
  margin: 5px 0 !important; }

.new-apartment-right-block-buttons {
  margin-top: 50px; }

.discounts {
  height: 605px;
  width: 100%;
  background: url(../img/discounts.png) no-repeat; }

.discounts-header {
  font-size: 46px;
  font-family: 'PT Sans', sans-serif;
  color: #ffffff;
  font-weight: bold;
  display: block;
  margin: auto;
  width: 390px;
  margin-top: 70px;
  margin-bottom: 100px; }

.discounts-list-image {
  background: url(../img/discount-image.png) no-repeat;
  width: 163px;
  height: 163px;
  display: block;
  float: left;
  margin-right: 24px; }

.discounts-list {
  padding: 0;
  margin-bottom: 55px; }
  .discounts-list li {
    display: inline-block;
    width: 570px;
    float: left; }

.discounts-list-description {
  width: 370px;
  float: left; }

.discounts-list-description-date {
  font-size: 16px;
  color: #fff;
  display: block;
  margin-bottom: 23px; }

.discounts-list-description-title {
  font-size: 22px;
  color: #fff;
  display: block;
  font-weight: bold;
  margin-bottom: 23px; }

.discounts-list-description-text {
  font-size: 18px;
  color: #fff;
  display: block;
  margin-bottom: 23px; }

.discounts-list-description-button {
  float: left;
  display: block;
  background: transparent;
  border: 2px solid #fff;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  width: 130px;
  height: 27px;
  font-size: 14px;
  font-family: 'PT Sans', sans-serif;
  color: #fff;
  font-weight: bold; }

.discounts-button {
  float: left;
  display: block !important;
  background: #fff;
  border: 2px solid #fff;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  width: 320px;
  height: 64px;
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
  color: #0aaed3;
  font-weight: bold;
  margin-left: 423px; }

.banks {
  width: 100%;
  height: 900px;
  background-color: #fff; }

.banks-header {
  display: block;
  margin: auto;
  color: #0aaed3;
  width: 672px;
  font-size: 46px;
  font-weight: bold;
  margin-top: 80px;
  text-align: center; }

.bank-button {
  display: block !important;
  background: #0aaed3;
  border: 2px solid #0aaed3;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  width: 320px;
  height: 64px;
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
  color: #fff;
  font-weight: bold;
  margin-left: 423px; }

.banks-list {
  margin-right: -105px;
  margin-bottom: 60px; }

.banks-list-item {
  display: inline-block;
  margin-right: 105px;
  margin-top: 150px;
  height: 80px; }

.banks-list-percent {
  width: 62px;
  height: 62px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #0aaed3;
  color: #fff;
  font-size: 14px;
  float: right;
  margin-right: -62px;
  margin-top: -88px; }

.banks-list-percent-text {
  display: block;
  margin-left: 13px;
  margin-top: 13px;
  width: 30px;
  text-align: center;
  color: #fff; }

.select-apartment {
  width: 100%;
  background-color: #fafafa; }

.select-apartment-header {
  color: #0aaed3;
  font-size: 46px;
  text-align: center;
  margin: auto;
  display: block;
  margin-top: 70px;
  font-weight: bold;
  margin-bottom: 43px; }

.select-apartment-buttons-param, .select-apartment-buttons-genplan {
  width: 220px;
  border: 2px solid #0aaed3;
  font-size: 18px;
  font-weight: bold;
  height: 45px;
  -webkit-border-radius: 5px;
          border-radius: 5px; }

.select-apartment-buttons-param {
  background-color: #0aaed3;
  color: #fff;
  margin-right: 41px; }

.select-apartment-buttons-genplan {
  background-color: #fafafa;
  color: #0aaed3; }

.select-apartment-buttons {
  margin: auto;
  width: 490px;
  margin-bottom: 70px; }

.select-apartment {
  min-height: 1420px; }
  .select-apartment .sortby {
    margin-bottom: 45px; }
    .select-apartment .sortby span {
      float: left;
      font-size: 16px;
      display: block;
      margin-right: 55px; }
    .select-apartment .sortby .sortby-value {
      cursor: pointer; }
    .select-apartment .sortby .sortby-value:after {
      content: '';
      display: block;
      background-image: url(../img/spritesheet.png);
      background-repeat: no-repeat;
      width: 8px;
      height: 14px;
      background-position: -353px -392px;
      float: right;
      margin-left: 4px;
      margin-top: 3px; }
    .select-apartment .sortby .title {
      font-weight: bold; }
  .select-apartment .select-apartment-filter {
    border-bottom: 3px dotted #a8a8a8;
    padding-bottom: 36px;
    margin-bottom: 30px; }
    .select-apartment .select-apartment-filter .floor {
      width: 25%; }
    .select-apartment .select-apartment-filter .area {
      width: 25%; }
    .select-apartment .select-apartment-filter .price {
      width: 50%; }
    .select-apartment .select-apartment-filter .floor input::-webkit-input-placeholder, .select-apartment .select-apartment-filter .area input::-webkit-input-placeholder {
      text-align: center; }
    .select-apartment .select-apartment-filter .floor input, .select-apartment .select-apartment-filter .area input {
      text-align: center;
      width: 50px; }
    .select-apartment .select-apartment-filter .floor .range, .select-apartment .select-apartment-filter .area .range {
      width: 210px; }
    .select-apartment .select-apartment-filter .price input {
      padding-left: 15px;
      width: 213px; }
    .select-apartment .select-apartment-filter .price .range {
      width: 500px; }
    .select-apartment .select-apartment-filter .floor, .select-apartment .select-apartment-filter .area, .select-apartment .select-apartment-filter .price {
      float: left; }
      .select-apartment .select-apartment-filter .floor .title, .select-apartment .select-apartment-filter .area .title, .select-apartment .select-apartment-filter .price .title {
        font-size: 18px;
        font-weight: bold;
        color: #444444;
        margin-bottom: 30px;
        display: block; }
      .select-apartment .select-apartment-filter .floor input, .select-apartment .select-apartment-filter .area input, .select-apartment .select-apartment-filter .price input {
        height: 35px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box; }
      .select-apartment .select-apartment-filter .floor .from, .select-apartment .select-apartment-filter .area .from, .select-apartment .select-apartment-filter .price .from {
        float: left;
        margin-right: 50px; }
        .select-apartment .select-apartment-filter .floor .from span, .select-apartment .select-apartment-filter .area .from span, .select-apartment .select-apartment-filter .price .from span {
          font-size: 18px; }
      .select-apartment .select-apartment-filter .floor .to, .select-apartment .select-apartment-filter .area .to, .select-apartment .select-apartment-filter .price .to {
        float: left; }
        .select-apartment .select-apartment-filter .floor .to span, .select-apartment .select-apartment-filter .area .to span, .select-apartment .select-apartment-filter .price .to span {
          font-size: 18px; }
      .select-apartment .select-apartment-filter .floor .inputs, .select-apartment .select-apartment-filter .area .inputs, .select-apartment .select-apartment-filter .price .inputs {
        margin-bottom: 25px; }
      .select-apartment .select-apartment-filter .floor .range, .select-apartment .select-apartment-filter .area .range, .select-apartment .select-apartment-filter .price .range {
        margin-left: 20px; }
      .select-apartment .select-apartment-filter .floor .range-vals, .select-apartment .select-apartment-filter .area .range-vals, .select-apartment .select-apartment-filter .price .range-vals {
        margin-top: 4px;
        font-size: 18px; }
        .select-apartment .select-apartment-filter .floor .range-vals .left-val, .select-apartment .select-apartment-filter .area .range-vals .left-val, .select-apartment .select-apartment-filter .price .range-vals .left-val {
          float: left; }
        .select-apartment .select-apartment-filter .floor .range-vals .right-val, .select-apartment .select-apartment-filter .area .range-vals .right-val, .select-apartment .select-apartment-filter .price .range-vals .right-val {
          float: right; }
    .select-apartment .select-apartment-filter .select-apartment-filter-bot {
      margin-top: 20px; }
      .select-apartment .select-apartment-filter .select-apartment-filter-bot .filter-checkboxes {
        float: left; }
        .select-apartment .select-apartment-filter .select-apartment-filter-bot .filter-checkboxes label {
          margin-right: 30px; }
      .select-apartment .select-apartment-filter .select-apartment-filter-bot button {
        float: right;
        width: 220px;
        border: 2px solid #0aaed3;
        font-size: 18px;
        height: 45px;
        -webkit-border-radius: 5px;
                border-radius: 5px;
        background-color: #0aaed3;
        color: #fff;
        margin-right: 41px; }

.apartment-list {
  padding: 0;
  list-style: none; }
  .apartment-list .apartment-list-item {
    padding: 0;
    list-style: none; }
    .apartment-list .apartment-list-item .main-desc {
      margin-left: -25px;
      width: 180px; }
      .apartment-list .apartment-list-item .main-desc .title {
        width: 180px;
        color: #0aaed3;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px; }
      .apartment-list .apartment-list-item .main-desc i {
        display: block;
        float: left;
        margin-right: 3px; }
      .apartment-list .apartment-list-item .main-desc span {
        display: block;
        float: left;
        margin-right: 5px;
        width: 65px; }
    .apartment-list .apartment-list-item li {
      display: inline-block;
      margin-bottom: 52px;
      float: left;
      margin-right: 30px; }
      .apartment-list .apartment-list-item li:last-child {
        margin-right: 0px; }
      .apartment-list .apartment-list-item li i {
        float: left;
        margin-right: 10px; }
      .apartment-list .apartment-list-item li span {
        width: 110px;
        display: block;
        float: left; }
      .apartment-list .apartment-list-item li .pricee {
        width: 190px;
        font-size: 30px !important;
        font-weight: bold;
        color: #0aaed3; }

.show-else {
  width: 160px;
  margin: auto; }
  .show-else i {
    float: left;
    margin-right: 10px; }
  .show-else span {
    float: left;
    font-size: 20px; }

.autoparking {
  width: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 719px;
  background: url("../img/autoparking.png") no-repeat;
  background-position: center top; }
  .autoparking .autoparking-header {
    color: #fff;
    font-size: 46px;
    font-weight: bold;
    display: block;
    margin: auto;
    padding-top: 215px;
    margin-bottom: 64px;
    width: 628px;
    text-align: center; }
  .autoparking .description {
    display: block;
    font-size: 36px;
    text-align: center;
    width: 732px;
    margin: auto;
    color: #fff;
    margin-bottom: 64px; }
  .autoparking button {
    width: 320px;
    height: 60px;
    background-color: #FFF;
    color: #0aaed3;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #fff;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    margin: auto;
    display: block; }

.hod-and-news {
  height: 660px;
  width: 100%;
  position: relative; }
  .hod-and-news .stroy-proc {
    height: 100%;
    width: 50%;
    float: left;
    background: url("../img/stroy-proc.png") no-repeat;
    background-position: center top; }
  .hod-and-news .news {
    height: 100%;
    width: 50%;
    float: right;
    background-color: #f8f8f8; }

.hod-and-news-body {
  position: absolute;
  margin-top: -660px;
  width: 100%; }
  .hod-and-news-body .stroy-proc-body {
    width: 50%;
    float: left; }
  .hod-and-news-body .news-body {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 50%;
    float: right;
    padding-left: 40px; }
    .hod-and-news-body .news-body .else i {
      float: left;
      margin-right: 10px; }
    .hod-and-news-body .news-body .else span {
      float: left;
      display: block;
      font-size: 20px;
      color: #444444; }
  .hod-and-news-body .sub-width {
    margin-top: 82px; }
  .hod-and-news-body .header {
    display: block;
    font-weight: bold;
    color: #0aaed3;
    font-size: 46px; }
  .hod-and-news-body button {
    width: 150px;
    height: 30px;
    background-color: transparent;
    color: #0aaed3;
    font-size: 14px;
    font-weight: bold;
    border: 2px solid #0aaed3;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    display: block; }

.stroy-proc-body-dates {
  padding-left: 12px;
  border-left: 3px solid #fff; }
  .stroy-proc-body-dates li {
    list-style-type: none;
    margin-bottom: 50px; }
    .stroy-proc-body-dates li .list-header {
      font-size: 18px;
      color: #fff;
      display: block;
      margin-bottom: 20px; }
    .stroy-proc-body-dates li .description {
      font-size: 14px;
      color: #fff; }
    .stroy-proc-body-dates li .stroy-proc-body-dates-sublist {
      margin-bottom: 20px;
      padding: 0; }
      .stroy-proc-body-dates li .stroy-proc-body-dates-sublist li {
        display: inline-block;
        width: 120px;
        height: 80px;
        margin-right: 10px;
        background-color: #6f6f6f;
        margin-bottom: 0px; }

.news-body-list {
  padding: 0;
  list-style: none; }
  .news-body-list li {
    border-left: 3px solid #0aaed3;
    margin-bottom: 27px;
    padding-left: 26px; }
    .news-body-list li .news-list-item-date {
      display: block;
      font-size: 16px;
      color: #444444;
      margin-bottom: 20px; }
    .news-body-list li .news-list-item-title {
      display: block;
      font-size: 28px;
      font-weight: bold;
      color: #0aaed3;
      margin-bottom: 20px; }
    .news-body-list li .new-list-item-description {
      display: block;
      font-size: 18px;
      color: #444444;
      margin-bottom: 20px; }

.dom-rasp {
  height: 340px;
  width: 100%;
  background-color: #FFF; }
  .dom-rasp .header {
    font-size: 46px;
    text-align: center;
    color: #0aaed3;
    display: block;
    font-weight: bold;
    margin-top: 70px; }
  .dom-rasp .description {
    text-align: center;
    display: block;
    font-size: 20px; }

.map {
  height: 676px;
  width: 100%;
  background-color: #e0d6a9; }

.complete-objects {
  height: 710px; }
  .complete-objects .header {
    font-size: 46px;
    text-align: center;
    color: #0aaed3;
    display: block;
    font-weight: bold;
    margin-top: 70px; }
  .complete-objects .complete-objects-list {
    margin-bottom: 55px; }
    .complete-objects .complete-objects-list li {
      width: 370px;
      display: inline-block; }
      .complete-objects .complete-objects-list li span {
        display: block;
        text-align: center;
        font-size: 23px;
        color: #444444; }
      .complete-objects .complete-objects-list li img {
        display: block;
        margin: auto;
        margin-bottom: 53px; }
  .complete-objects .buttons {
    margin: auto;
    width: 680px; }

.about {
  background: url("../img/about.png") no-repeat;
  height: 633px; }
  .about .header {
    font-size: 46px;
    text-align: center;
    color: #fff;
    display: block;
    font-weight: bold;
    margin-top: 70px; }
  .about .about-body {
    margin-bottom: 50px; }
    .about .about-body .description {
      margin-right: 50px;
      float: left;
      display: block;
      width: 460px;
      color: #fff; }
      .about .about-body .description p {
        font-size: 20px; }
    .about .about-body .about-list {
      width: 605px;
      float: left; }
      .about .about-body .about-list li {
        width: 300px;
        display: inline-block;
        margin-bottom: 20px; }
        .about .about-body .about-list li i {
          float: left;
          margin-right: 20px; }
        .about .about-body .about-list li .about-list-item-description {
          float: left;
          color: #fff; }
          .about .about-body .about-list li .about-list-item-description .primary {
            display: block;
            margin-top: 20px;
            font-size: 20px; }
          .about .about-body .about-list li .about-list-item-description .non-primary {
            font-size: 16px; }
  .about button {
    width: 320px;
    height: 60px;
    background-color: #FFF;
    color: #0aaed3;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #fff;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    margin: auto;
    display: block; }

.consulting {
  height: 614px; }
  .consulting .consulting-personal {
    float: left;
    width: 487px;
    height: 100%;
    background: url("../img/personal-item.png") no-repeat;
    margin-right: 10px; }
  .consulting .consulting-body {
    float: left;
    width: 660px; }
    .consulting .consulting-body .header {
      font-size: 46px;
      color: #0aaed3;
      display: block;
      font-weight: bold;
      margin-top: 65px; }
    .consulting .consulting-body .description {
      font-size: 20px;
      color: #444444;
      margin-bottom: 40px;
      display: block; }
    .consulting .consulting-body form .form-left {
      float: left;
      width: 48%; }
      .consulting .consulting-body form .form-left input {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        width: 100%;
        margin-bottom: 23px;
        border: 2px solid #0aaed3;
        -webkit-border-radius: 3px;
                border-radius: 3px;
        height: 53px;
        padding-left: 20px;
        padding-right: 10px;
        font-size: 20px; }
      .consulting .consulting-body form .form-left label {
        display: inline-block;
        cursor: pointer;
        position: relative; }
      .consulting .consulting-body form .form-left .checkbox:not(checked) {
        position: absolute;
        opacity: 0; }
      .consulting .consulting-body form .form-left .checkbox:not(checked) + label {
        position: relative;
        padding: 0 0 0 35px; }
      .consulting .consulting-body form .form-left .checkbox:not(checked) + label:before {
        content: '';
        position: absolute;
        background-image: url(../img/spritesheet.png);
        background-repeat: no-repeat;
        width: 22px;
        height: 22px;
        background-position: -464px -100px;
        left: 0; }
      .consulting .consulting-body form .form-left .checkbox:checked + label:before {
        content: '';
        position: absolute;
        background-image: url(../img/spritesheet.png);
        background-repeat: no-repeat;
        width: 22px;
        height: 22px;
        background-position: -5px -5px;
        left: 0; }
      .consulting .consulting-body form .form-left label {
        margin-top: 15px;
        width: 220px;
        font-size: 18px;
        color: #444444; }
    .consulting .consulting-body form .form-right {
      float: right;
      width: 48%; }
      .consulting .consulting-body form .form-right textarea {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        width: 100%;
        border: 2px solid #0aaed3;
        -webkit-border-radius: 3px;
                border-radius: 3px;
        height: 205px;
        padding-left: 20px;
        padding-right: 10px;
        padding-top: 15px;
        font-size: 20px;
        overflow: hidden;
        resize: none;
        margin-bottom: 22px; }
      .consulting .consulting-body form .form-right button {
        width: 100%;
        height: 55px; }

.footer {
  height: 525px; }
  .footer .footer-img {
    overflow: hidden;
    float: left;
    max-width: 660px; }
    .footer .footer-img img {
      height: 100%; }
  .footer .footer-contact {
    background-color: #0aaed3;
    float: left;
    width: 500px;
    height: 100%;
    z-index: 2; }
    .footer .footer-contact .header {
      font-size: 46px;
      color: #fff;
      display: block;
      font-weight: bold;
      margin-top: 65px;
      margin-left: 55px; }
    .footer .footer-contact .footer-contact-list {
      margin-left: 55px;
      list-style: none;
      padding: 0; }
      .footer .footer-contact .footer-contact-list p {
        font-size: 24px;
        line-height: 39px;
        color: #fff;
        margin: 0; }
      .footer .footer-contact .footer-contact-list i {
        margin-top: 10px;
        float: left;
        margin-right: 20px; }
      .footer .footer-contact .footer-contact-list .footer-contact-list-body {
        float: left; }
  .footer .footer-map {
    float: left;
    background-color: #000;
    height: 100%; }

.subfooter {
  height: 111px; }
  .subfooter .left {
    width: 33%;
    margin-top: 50px;
    float: left;
    text-align: left;
    font-size: 18px; }
    .subfooter .left span {
      font-size: 18px; }
  .subfooter .center {
    width: 33%;
    margin-top: 50px;
    float: left;
    text-align: center;
    font-size: 18px; }
  .subfooter .right {
    width: 33%;
    margin-top: 50px;
    float: left;
    text-align: right;
    font-size: 18px; }
