.sprite {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-activecheckbox {
    width: 22px;
    height: 22px;
    background-position: -5px -5px;
}

.sprite-belgramplan {
    width: 121px;
    height: 121px;
    background-position: -37px -5px;
}

.sprite-belkrasikomf {
    width: 121px;
    height: 121px;
    background-position: -168px -5px;
}

.sprite-bellift {
    width: 121px;
    height: 121px;
    background-position: -299px -5px;
}

.sprite-belpark {
    width: 121px;
    height: 121px;
    background-position: -5px -136px;
}

.sprite-belprostor {
    width: 121px;
    height: 121px;
    background-position: -136px -136px;
}

.sprite-belvsesvoe {
    width: 121px;
    height: 121px;
    background-position: -267px -136px;
}

.sprite-blueellips {
    width: 61px;
    height: 61px;
    background-position: -398px -136px;
}

.sprite-broni {
    width: 12px;
    height: 23px;
    background-position: -430px -5px;
}

.sprite-calcipoteka {
    width: 17px;
    height: 23px;
    background-position: -452px -5px;
}

.sprite-dom {
    width: 71px;
    height: 71px;
    background-position: -398px -207px;
}

.sprite-elend {
    width: 82px;
    height: 82px;
    background-position: -5px -288px;
}

.sprite-elkvar {
    width: 82px;
    height: 82px;
    background-position: -97px -288px;
}

.sprite-elparkov {
    width: 82px;
    height: 82px;
    background-position: -189px -288px;
}

.sprite-elplosh {
    width: 82px;
    height: 82px;
    background-position: -281px -288px;
}

.sprite-etagi {
    width: 15px;
    height: 16px;
    background-position: -5px -38px;
}

.sprite-footer-mail {
    width: 23px;
    height: 17px;
    background-position: -430px -38px;
}

.sprite-footer-telephone {
    width: 18px;
    height: 30px;
    background-position: -463px -38px;
}

.sprite-geo {
    width: 17px;
    height: 21px;
    background-position: -5px -78px;
}

.sprite-leftarrow {
    width: 24px;
    height: 44px;
    background-position: -430px -78px;
}

.sprite-li {
    width: 12px;
    height: 12px;
    background-position: -464px -78px;
}

.sprite-menu {
    width: 24px;
    height: 18px;
    background-position: -373px -288px;
}

.sprite-notactivecheckbox {
    width: 22px;
    height: 22px;
    background-position: -464px -100px;
}

.sprite-ozast-geo {
    width: 79px;
    height: 79px;
    background-position: -407px -288px;
}

.sprite-ozast-happy {
    width: 79px;
    height: 79px;
    background-position: -373px -377px;
}

.sprite-ozast-invest {
    width: 79px;
    height: 79px;
    background-position: -491px -5px;
}

.sprite-ozast-kvart {
    width: 79px;
    height: 79px;
    background-position: -496px -94px;
}

.sprite-ozast-let {
    width: 79px;
    height: 79px;
    background-position: -479px -183px;
}

.sprite-ozast-postr {
    width: 79px;
    height: 79px;
    background-position: -496px -272px;
}

.sprite-pdf {
    width: 19px;
    height: 23px;
    background-position: -496px -361px;
}

.sprite-play {
    width: 134px;
    height: 134px;
    background-position: -5px -394px;
}

.sprite-ploshad {
    width: 19px;
    height: 14px;
    background-position: -525px -361px;
}

.sprite-raightarrow {
    width: 24px;
    height: 44px;
    background-position: -149px -385px;
}

.sprite-refresh {
    width: 20px;
    height: 21px;
    background-position: -554px -361px;
}

.sprite-regulator {
    width: 13px;
    height: 12px;
    background-position: -183px -392px;
}

.sprite-side-calculate {
    width: 22px;
    height: 32px;
    background-position: -206px -385px;
}

.sprite-side-comment {
    width: 28px;
    height: 24px;
    background-position: -238px -392px;
}

.sprite-side-logo {
    width: 35px;
    height: 39px;
    background-position: -276px -392px;
}

.sprite-side-vote {
    width: 22px;
    height: 25px;
    background-position: -321px -385px;
}

.sprite-sortby {
    width: 8px;
    height: 14px;
    background-position: -353px -392px;
}

.sprite-sravnenie {
    width: 20px;
    height: 23px;
    background-position: -462px -392px;
}

.sprite-telephone {
    width: 24px;
    height: 25px;
    background-position: -525px -392px;
}
